@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src:
    url('cocogoose_pro-trial-webfont.woff2') format('woff2'),
    url('cocogoose_pro-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#top-bar {
  display: none;
}

header {
  padding: 5px 30px;
}

#about-link {
  color: #ec5242;
}

#headline {
  background: url('../img/headline-bg.jpg') no-repeat right;
  background-size: cover;
  width: 100%;
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  padding: 20px 20px;
  justify-content: space-around;
}

.heading h1 {
  color: #ec5242;
  font-family: 'Cocogoose', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
}

.headline-info {
  background: #fff;
  padding: 10px 20px;
}

.headline-info p {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.headline-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-contact p {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.headline-contact a {
  color: #272a31;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-decoration: underline;
}

#home-link {
  display: block;
}

@media screen and (min-width: 768px) {
  #top-bar {
    padding: 15px 50px 15px 230px;
  }

  #home-link {
    display: none;
  }

  header {
    padding: 10px 50px 10px 230px;
  }

  #headline {
    justify-content: space-around;
    padding: 20px 50px 20px 230px;
  }

  .heading h1 {
    font-weight: 800;
    font-size: 75px;
    line-height: 75px;
  }

  .headline-info {
    padding: 20px 80px;
  }
}

#logo {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
}

.logo-heading h2 {
  color: #272a31;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
}

.logo-heading h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  border-bottom: 3px solid #ec5242;
  margin-left: 120px;
  margin-top: 10px;
}

.logo-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo-info p {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.logo-img {
  border: 1px solid #d3d3d3;
  padding: 15px 0;
  width: 80%;
}

@media screen and (min-width: 768px) {
  #logo {
    padding: 30px 100px 30px 300px;
  }

  .logo-heading h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .logo-heading h2::after {
    margin-left: 165px;
  }

  .logo-img {
    padding: 15px 40px;
    width: auto;
  }
}

#summits {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
}

.summits-heading h2 {
  color: #272a31;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
}

.summits-heading h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  border-bottom: 3px solid #ec5242;
  margin-left: 120px;
  margin-top: 10px;
}

.summits-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.summits-info p {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.summits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.summit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
}

.summit-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(236, 82, 66);
  background: rgba(236, 82, 66, 0.7);
}

.summit-info h3 {
  color: #fff;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.summit-info p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
}

#summit1 {
  background: url('../img/summit1.jpeg') no-repeat;
  background-size: cover;
  margin-bottom: 24px;
}

#summit2 {
  background: url('../img/summit2.jpeg') no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  #summits {
    padding: 30px 100px 30px 300px;
  }

  .summits-heading h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .summits-heading h2::after {
    margin-left: 165px;
  }

  .summits {
    flex-direction: row;
  }

  .summit {
    width: 49%;
  }

  #summit1 {
    margin-bottom: 0;
  }

  #summit2 {
    margin-bottom: 0;
  }
}

#partners-about {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px;
  margin-top: 50px;
}

.partners-header h2 {
  color: #fff;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0;
}

.partners-header h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  border-bottom: 3px solid #ec5242;
  margin-left: 22px;
  margin-top: 10px;
}

.partners {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partners img {
  height: 35px;
  width: auto;
  margin-right: 35px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  #partners-about {
    display: none;
    padding: 40px 140px;
  }

  .partners img {
    margin-bottom: 0;
  }
}

.footer-about {
  padding: 20px 10px;
  background: #d3d3d3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-about .footer-logo {
  margin-right: 20px;
}

.footer-about .footer-logo img {
  width: 100px;
  height: 40px;
}

#blacklogo {
  display: flex;
}

#whitelogo {
  display: none;
}

.footer-about .footer-info h5 {
  font-family: 'Cocogoose', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
  color: #272a31;
}

.footer-about .footer-info p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #272a31;
}

@media screen and (min-width: 768px) {
  .footer-about {
    background: #000;
    padding: 30px 100px 30px 300px;
  }

  .footer-about .footer-logo {
    margin-right: 40px;
  }

  .footer-about .footer-logo img {
    width: auto;
  }

  #blacklogo {
    display: none;
  }

  #whitelogo {
    display: flex;
  }

  .footer-about .footer-info h5 {
    color: #fff;
  }

  .footer-about .footer-info p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
}
